:root {
    --color-primary: #ffbf23;
    --color-secondary: #f8c700;
    --color-accent: #000;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2.4rem;
    font-family: 'Titillium Web', sans-serif;
}

::selection {
    background: var(--color-primary);
    color: var(--color-accent);
}

/* Typography */

h1, h2, h3 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2.9rem;
}

h1 .ar {
    font-family: 'Cairo', sans-serif;
    font-size: inherit;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3.8rem;
    }

    h3 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1.8rem;
    }
}

/* Buttons */
.btn {
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 1rem 4rem;
    border: 1px solid #000;
    font-size: 1.5rem;
    white-space: nowrap;
    font-weight: 700;
    display: inline;

}

.btn--primary {
    background: var(--color-primary);
    transition: background 0.2s ease-in, color 0.2s ease-in;
}

.btn--primary:hover {
    background: var(--color-accent);
    color: var(--color-primary);
}

.btn--accent {
    background: var(--color-accent);
    color: #fff;
    transition: background 0.2s ease-in, color 0.2s ease-in;
}

.btn--accent:hover {
    background: var(--color-primary);
    color: #000;
}

.btn--block {
    display: block;
    width: 100%;
}

.btn--round {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 2rem;
    border: none;
    width: 6rem;
    height: 6rem;
}

@media screen and (min-width: 768px) {
    .btn {
        font-size: 1.6rem;
    }

}

.btn-container {
    position: fixed;
    right: 20px;
    z-index: 9999;
}

.btn-chat-container {
    bottom: 20px;
}

.btn--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 3px 0 hsl(0deg 0% 5% / 42%);
    border: none;
    padding: 0;
    outline: none;
}

.btn__icon-container {
    display: block;
    height: 32px;
    width: 32px;
}

.btn__icon {
    height: inherit;
    width: inherit;
    color: var(--color-accent);
    transition: color 0.2s ease-in;
}

.btn:hover .btn__icon-container>* {
    color: var(--color-primary);
}

.btn-up-container {
    bottom: 100px;
}

@media screen and (min-width: 768px) {
    .btn--icon {
        width: 90px;
        height: 90px;
    }

    .btn__icon-container {
        height: 64px;
        width: 64px;
    }

    .btn-up-container {
        bottom: 150px;
    }
}

/* Lists */
.list {
    list-style: none;
    padding-left: 0;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

/* Input */
.input {
    border-radius: 5px;
    border: 3px solid var(--color-accent);
    color: var(--color-accent);
    font-size: 2.4rem;
    outline: 0;
    padding: 1rem 2.5rem;
}


/* Services */
.service {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service__image {
    width: 100%;
    object-fit: cover;
}

.service__title {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 30px;
    margin: 2rem 1rem;
}

.service__content {
    font-size: 1.6rem;
    line-height: 25px;
    margin: 0;
}

/* Testimonial */
.testimonial {
    position: relative;
    width: 100%;
}

.testimonial__content {
    position: absolute;
    top: 8%;
    left: 1%;
    margin: 0;
    padding: 4rem;
    font-size: 1.6rem;
    line-height: 25px;
    overflow: hidden;
}

.testimonial__author {
    position: absolute;
    font-size: 1.6rem;
    font-weight: 700;
    bottom: 8%;
    right: 10%;
}

.testimonial__decoration {
    position: absolute;
    left: -100px;
    bottom: 0;
}

/* Labeld icon */
.labeld-icon {
    display: flex;
    align-items: center;
}

.labeld-icon__icon {
    width: 40px;
    height: 40px;
}

.labeld-icon__label {
    margin-left: 30px;
    font-size: 1.4rem;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .labeld-icon__label {
        margin-left: 15px;
    }
}

/* Grids */
.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* building-store */
.building-store {
    position: relative;
    width: 100%;
}

.building-store__title {
    position: absolute;
    font-size: 1.2rem;
    top: 12.5%;
    left: 42%;
    font-weight: 700;
    transform: rotate(8deg);
    letter-spacing: 0.12px;
}

/* Operation Order */
.operation-order {
    position: relative;
    width: 100%;
}

.operation-order__image {
    width: 100%;
    object-fit: cover;
}

.operation-order__icon {
    position: absolute;
    bottom: 18%;
    right: -100%;
    width: 70px;
    height: 70px;
    z-index: 1;
}