:root {
    --color-primary: #f8c700;
    --color-secondary: #ffbf23;
    --color-accent: #000;
    --font-primary: 'Space Grotesk', sans-serif;
    --font-secondary: 'Titillium Web', sans-serif;
    --font-arabic: 'Cairo', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2.4rem;
    font-family: var(--font-secondary);
}

a {
    text-decoration: none;
    color: #000;
}

::selection {
    background: var(--color-primary);
    color: var(--color-accent);
}

/* Typography */

h1, h2, h3 {
    font-family: var(--font-primary);
    font-weight: 400;
}

h1 {
    font-size: 2.9rem;
}

.ar {
    font-family: var(--font-arabic);
    font-size: inherit;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3.8rem;
    }

    h3 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1.8rem;
    }
}

/* Buttons */
.btn {
    font-family: var(--font-primary);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 1.8rem 5rem;
    border: 2px solid #000;
    box-shadow: 0 0 10px 10px rgb(0 0 0 / 4%);
    font-size: 3rem;
    white-space: nowrap;
    font-weight: 700;
    display: inline;

}

.btn--primary {
    background: var(--color-primary);
    transition: background 0.2s ease-in, color 0.2s ease-in;
}

.btn--primary:hover {
    background: var(--color-accent);
    color: var(--color-primary);
}

.btn--accent {
    background: var(--color-accent);
    color: #fff;
    transition: background 0.2s ease-in, color 0.2s ease-in;
}

.btn--accent:hover {
    background: var(--color-primary);
    color: #000;
}

.btn--block {
    display: block;
    width: 100%;
}

.btn--round {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 2rem;
    border: none;
    width: 6rem;
    height: 6rem;
}

@media screen and (min-width: 768px) {
    .btn {
        font-size: 1.6rem;
    }

}

.btn-container {
    position: fixed;
    right: 20px;
    z-index: 9999;
    opacity: 0;
}

.btn-chat-container {
    bottom: 20px;
}

.btn--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 3px 0 hsl(0deg 0% 5% / 42%);
    border: none;
    padding: 0;
    outline: none;
}

.btn__icon-container {
    display: block;
    height: 32px;
    width: 32px;
}

.btn__icon {
    height: inherit;
    width: inherit;
    color: var(--color-accent);
    transition: color 0.2s ease-in;
}

.btn:hover .btn__icon-container>* {
    color: var(--color-primary);
}

.btn-up-container {
    bottom: 100px;
}

@media screen and (min-width: 768px) {
    .btn--icon {
        width: 70px;
        height: 70px;
    }

    .btn__icon-container {
        height: 48px;
        width: 48px;
    }

    .btn-up-container {
        bottom: 100px;
    }
}

/* Lists */
.list {
    list-style: none;
    padding-left: 0;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list>li {
    margin-top: 10px;
}

/* Input */
.input {
    border-radius: 5px;
    border: 3px solid var(--color-accent);
    color: var(--color-accent);
    font-size: 2.4rem;
    outline: 0;
    padding: 1rem 2.5rem;
}


/* Services */

.services {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    flex-basis: 100%;
}

.service {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.service__image {
    width: 100%;
    object-fit: cover;
}

.service__title {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 30px;
    margin: 2rem 1rem;
    text-align: center;
}

.service__content {
    font-size: 1.6rem;
    line-height: 25px;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .services {
        flex-direction: row;
    }

    .service {
        width: 100%;
    }
}

/* Testimonial */

.testimonials {
    grid-template-columns: minmax(200px, 1fr);
}

.testimonial {
    position: relative;
    max-width: 300px;
    width: 100%;
    margin: 1rem auto;
    transition: transform 0.2s ease-out;

}

.testimonial:hover {
    transform: scale(1.05);
}

.testimonial__content {
    position: absolute;
    top: 8%;
    left: 1%;
    margin: 0;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    line-height: 25px;
    overflow: hidden;
}

.testimonial__author {
    position: absolute;
    font-size: 1.6rem;
    font-weight: 700;
    bottom: 8%;
    right: 10%;
}

.testimonial__decoration {
    position: absolute;
    left: -100px;
    bottom: 0;
}

@media screen and (min-width: 768px) {
    .testimonial__content {
        line-height: 30px;
    }
}

/* Labeld icon */
.labeld-icon {
    display: flex;
    align-items: center;
}

.labeld-icon__icon {
    width: 40px;
    height: 40px;
}

.labeld-icon__label {
    margin-left: 30px;
    font-size: 2.4rem;
    font-weight: 700;
    white-space: nowrap;
}

.label--logo {
    font-size: 2.4rem;
    color: var(--color-accent);
    text-decoration: underline;
}

@media screen and (min-width: 768px) {

    .labeld-icon__label {
        margin-left: 30px;
        font-size: 1.4rem;
        max-width: 70px;
        white-space: unset;
    }

    .labeld-icon__label {
        margin-left: 15px;
    }

    .label--logo {
        max-width: unset;
    }
}

/* Grids */
.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* building-store */
.building-store {
    position: relative;
    width: 100%;
}

.building-store__title {
    position: absolute;
    font-size: 1.2rem;
    top: 12%;
    left: 42%;
    font-weight: 700;
    transform: rotate(8deg);
    letter-spacing: 0.12px;
}

@media screen and (max-width: 768px) {
    .building-store__title {
        top: 13%;
    }
}

/* Operation Order */
.operation-order {
    position: relative;
    width: 100%;
}

.operation-order__image {
    width: 100%;
    object-fit: cover;
}

.operation-order__icon {
    position: absolute;
    bottom: 18%;
    right: -100%;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.order-operation__description {
    font-size: 2rem;
}

.icon {
    width: 40px;
    height: 40px;
}

.icon--larg {
    width: 64px;
    height: 64px;
}

.icon--logo {
    width: 64px;
    height: 64px;
}

.icon--primary {
    color: var(--color-primary);
}

.icon--white {
    color: #fff;
}


/* Collapsibles */

.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
}

.collapsible__chevron {
    transform: rotate(90deg);
    transition: transform 0.3s;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
    transform: rotate(180deg);
}

.collapsible--expanded .collapsible__content {
    max-height: 100%;
    opacity: 1;
}

/* Block */
.block {
    padding: 5rem 2rem;
}

.block__header {
    margin-bottom: 1rem;
    text-align: center;
}

.block__heading {
    max-width: 390px;
    text-align: left;
    margin-top: 0;
    font-size: 3rem;
    line-height: 45px;
}

.block__body {
    line-height: 30px;
    font-size: 2rem;
    margin-top: 0;

}

.block--primary {
    background: var(--color-primary);
}

@media screen and (min-width: 768px) {
    .block {
        padding: 10rem 3rem;
    }

    .block__heading {
        font-size: 3.8rem;
        line-height: 50px;
    }

    .block__body {
        font-size: 1.8rem;
    }

}

.container {
    max-width: 1140px;
    margin: 0 auto;
}



/* Navigation Bar */

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
}

.nav__list {
    width: 100%;
    margin-top: 2rem;
}

.nav__item {
    padding: 1rem 2rem;
    /* border-bottom: 1px solid #222; */
}

.nav__item:last-of-type {
    border-bottom: none;
}

.nav__item>a {
    color: var(--color-accent);
    font-size: 2.5rem;
    word-spacing: 4px;
    letter-spacing: 1px;
    white-space: nowrap;
    font-weight: 700;
    line-height: 56px;
    transition: color 0.3s;
    user-select: none;
}

.nav__item>a:hover {
    color: var(--color-secondary);
}

.nav__toggler {
    opacity: 0.5;
    transition: box-shadow 0.15s;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
}



.nav.collapsible--expanded .nav__toggler {
    opacity: 1;
    box-shadow: 0 0 0 3px #666666;
    border-radius: 5px;

}

.nav__brand {
    transform: translateY(5px);
    width: 250px;
}

@media screen and (min-width: 1058px) {
    .nav__toggler {
        display: none;
    }

    .nav__item>a {
        font-size: 1.8rem;
        white-space: nowrap;
        font-weight: 700;
        line-height: normal;
    }

    .nav__list {
        width: auto;
        display: flex;
        max-height: 100%;
        opacity: 1;
    }

    .nav__item {
        border: 0;
    }
}

/* Hero */

.heron__heading {
    max-width: none;
    text-align: left;
    padding: 4rem 4rem 1rem;
    font-size: 4.5rem;
    line-height: 50px;
}

.hero__image>img {
    width: 100%;
}

.hero__tagline {
    font-size: 3rem;
    letter-spacing: 1px;
    padding: 0 4rem;
    text-align: left;
    margin: 2rem 0 5rem;
    line-height: 4.3rem;
}

.hero__btn {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: 2rem 0;
}

.hero__btn>.btn {
    width: 100%;
}

.features {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.feature {
    margin-bottom: 2rem;
    margin-left: 2rem;
}

@media screen and (min-width: 768px) {
    .hero__image>img {
        min-width: 550px;
        width: 100%;
    }

    .hero__content {
        text-align: left;
        align-self: center;
    }

    .hero__tagline {
        margin-bottom: 0;
    }

    .hero__btn>.btn {
        width: unset;
    }

    .hero__btn {
        padding: 0;
        margin: 0;
    }

    .features {
        flex-direction: row;
        padding: 2rem 0;
    }

}

@media screen and (min-width: 1024px) {
    .hero {
        padding-top: 0;
    }
}


.operation-order {
    padding: 2rem 4rem;
}

.order-operation {
    display: flex;
    justify-content: center;
    position: relative;
}

.order-operation__heading {
    font-size: 3rem;
}

.order-operation__img {
    width: 80%;
}

.order-operation__body {
    padding: 0 2rem;
}

.order-operation__icon {
    position: absolute;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    right: 50%;
    bottom: 0%;
}

.order-operation__icon.show {
    opacity: 1;
    transform: translateX(0);
}

@media screen and (min-width: 768px) {
    .order-operation__body {
        padding: 0 4rem;
    }

}

.bg {
    display: inline-block;
    padding: 10px;
}

.bg-bank {
    width: 160px;
    height: 160px;
    background: url('../images/css_sprites.webp') -210px -10px;
}

.bg-cash {
    width: 180px;
    height: 180px;
    background: url('../images/css_sprites.webp') -10px -10px;
}

.bg-crypto {
    width: 160px;
    height: 160px;
    background: url('../images/css_sprites.webp') -10px -210px;
}

.bg-e_cash {
    width: 160px;
    height: 160px;
    background: url('../images/css_sprites.webp') -190px -210px;
}

.bg-p2p {
    width: 160px;
    height: 160px;
    background: url('../images/css_sprites.webp') -390px -10px;
}

.bg-telecom {
    width: 160px;
    height: 160px;
    background: url('../images/css_sprites.webp') -390px -190px;
}

.offers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
    justify-items: center;
}

@media screen and (max-width: 768px) {
    .offers {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        /* align-items: initial; */
    }
}


.building-app {
    position: relative;
}

.building-app>.block {
    padding-bottom: 0;
}

.building-app__heading {
    max-width: unset;
    text-align: center;
}


.building-app__ground {
    position: absolute;
    height: 150px;
    width: 100%;
    bottom: 0;
    z-index: -1;
    background: var(--color-secondary);
}



/* Footer */

.footer {
    position: relative;
    background: var(--color-secondary);
    padding-top: 10rem;
    border-bottom: 30px solid #000;
}

.footer a {
    transition: color 0.3s;
    font-size: 2rem;
}

.footer a:hover {
    color: #e15e5e;
}

.footer__section {
    padding: 2rem;
    border-bottom: 1px solid #393939;
}

.footer__section .list {
    margin: 0;
}

.footer__heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5;
}

.footer__brand {
    margin-top: 5rem;
    text-align: center;
    justify-self: center;
}

.footer__brand img {
    max-width: 230px;
}

.footer__brand--logo {
    font-size: 2.6rem;
}

.footer__copyright {
    display: flex;
    justify-content: center;

}

.footer__copyright__link {
    position: absolute;
    font-size: 1.5rem;
    color: #fffcfc;
    opacity: 0.3;
    bottom: -23px;
    margin: 0;
}


@media screen and (min-width: 768px) {
    .footer {
        font-size: 2rem;
    }

    .footer>a {
        font-size: 1.5rem;
    }

    .footer__sections {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    .footer .collapsible__chevron {
        display: none;
    }

    .footer .collapsible__content {
        opacity: 1;
        max-height: 100%;
    }

    .footer__brand {
        order: -1;
        margin-top: 1rem;
    }

    .footer__section {
        border: 0;
    }

    .footer__heading {
        font-size: 1.6rem;
    }
}

.btn-container.show {
    opacity: 1;
}

.download-methods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-method_link {
    width: 50%;
}

.download-method_img {
    width: 100%;
}


.info-section {
    margin-bottom: 6rem;
}

.info-section__heading {
    background: #ffd7ef;
}

.info-section__heading {
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.info-section__header {
    text-align: left;
}

.article__header {
    font-size: 2.5rem;
    font-weight: 700;
}

.article__body {
    font-size: 2rem;
    line-height: 1.5;
}