:root {
    --color-primary: #ffbf23;
    --color-secondary: #f8c700;
    --color-accent: #000;
}

*, *::before, *::after {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'Titillium Web', sans-serif;
}

/* Typography */

h1, h2, h3 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2.9rem;
}

h1 .ar {
    font-family: 'Cairo', sans-serif;
    font-size: inherit;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3.8rem;
    }

    h3 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1.8rem;
    }
}

/* Buttons */
.btn {
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 1rem 4rem;
    border: 1px solid #000;
    font-size: 1.5rem;
    white-space: nowrap;
    font-weight: 700;
    display: inline;

}

.btn--primary {
    background: var(--color-primary);
    transition: background 0.2s ease-in, color 0.2s ease-in;
}

.btn--primary:hover {
    background: var(--color-accent);
    color: var(--color-primary);
}

.btn--accent {
    background: var(--color-accent);
    color: #fff;
    transition: background 0.2s ease-in, color 0.2s ease-in;
}

.btn--accent:hover {
    background: var(--color-primary);
    color: #000;
}

.btn--block {
    display: block;
    width: 100%;
}

.btn--round {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 2rem;
    border: none;
    width: 6rem;
    height: 6rem;
}

@media screen and (min-width: 768px) {
    .btn {
        font-size: 1.6rem;
    }

}

.btn-container {
    position: fixed;
    right: 20px;
    z-index: 9999;
}

.btn-chat-container {
    bottom: 20px;
}

.btn--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 3px 0 hsl(0deg 0% 5% / 42%);
    border: none;
    padding: 0;
    outline: none;
}

.btn__icon-container {
    display: block;
    height: 32px;
    width: 32px;
}

.btn__icon {
    height: inherit;
    width: inherit;
    color: var(--color-accent);
    transition: color 0.2s ease-in;
}

.btn:hover .btn__icon-container>* {
    color: var(--color-primary);
}

.btn-up-container {
    bottom: 100px;
}

@media screen and (min-width: 768px) {
    .btn--icon {
        width: 90px;
        height: 90px;
    }

    .btn__icon-container {
        height: 64px;
        width: 64px;
    }

    .btn-up-container {
        bottom: 150px;
    }
}