<button class="btn btn--primary btn--round">0</button>
<button class="btn btn--primary">Get Started</button>
<button class="btn btn--accent btn--block">Get Started</button>


<div class="btn-container btn-chat-container">
    <button class="btn btn--primary btn--icon">
        <div class="btn__icon-container">
            <svg class="btn__icon">
                <use href="images/icons.svg#message"></use>
            </svg>
        </div>
    </button>
</div>

<div class="btn-container btn-up-container">
    <button class="btn btn--primary btn--icon">
        <div class="btn__icon-container">
            <svg class="btn__icon">
                <use href="images/icons.svg#chevron-up"></use>
            </svg>
        </div>
    </button>
</div>