<div class="container grid grid--1x2">
    <div class="building-store hero__image">
        <img class="building-store__store" src="images/co-builder-1.svg" alt="">
        <p class="building-store__title">Search in Paloma</p>
    </div>
    <header class="block__header hero__content">
        <h1 class="block__heading heron__heading">
            Paloma Application <br />All in one!
        </h1>
        <p class="hero__tagline">
            We are on a mission to change the way people THINK about Shopping.
        </p>
        <div class="features">
            <div class="feature labeld-icon">
                <svg class="labeld-icon__icon icon--larg">
                    <use href="images/icons.svg#pay-cash"></use>
                </svg>
                <span class="labeld-icon__label">Cash on delivery </span>
            </div>
            <div class="feature labeld-icon">
                <svg class="labeld-icon__icon icon--larg">
                    <use href="images/icons.svg#van-fast"></use>
                </svg>
                <span class="labeld-icon__label">Fast Delivery</span>
            </div>
            <div class="feature labeld-icon">
                <svg class="labeld-icon__icon icon--larg">
                    <use href="images/icons.svg#pay-card"></use>
                </svg>
                <span class="labeld-icon__label">Online Payment </span>
            </div>
        </div>
        <div class="hero__btn">
            <a target="_blank" href="https://palomasy.com" class="btn btn--primary">Get Started</a>
        </div>
    </header>

</div>