<div class="container">
    <nav class="nav collapsible">
        <a class="nav__brand" href="/">
            <div class="labeld-icon">
                <picture>
                    <source type="image/webp" srcset="images/logo@1x.webp 1x, images/logo@2x.webp 2x" />
                    <source type="image/png" srcset="images/logo@1x.png 1x, images/logo@2x.png 2x" />
                    <img class="icon--logo" src="images/logo@x2.png" alt="" />
                </picture>
                <span class="labeld-icon__label label--logo">Paloma | <span class="ar">بالوما</span></span>
            </div>
        </a>
        <svg class="icon nav__toggler">
            <use href="images/icons.svg#menu"></use>
        </svg>
        <ul class="list nav__list collapsible__content collapsible--expanded">
            <li class="nav__item"><a href="#">Home</a></li>
            <li class="nav__item"><a href="#">Contact</a></li>
            <li class="nav__item"><a href="#">Download</a></li>
            <li class="nav__item"><a href="#">Product</a></li>
            <li class="nav__item"><a href="#">Help Center</a></li>
            <li class="nav__item"><a href="#">Paloma Store</a></li>
            <li class="nav__item"><a href="#">Items</a></li>
        </ul>
    </nav>
</div>