<div class="block block--primary">
    <div class="container">
        <header class="block__header">
            <h2 class="block__heading">What We Offer</h2>
        </header>
        <p class="block__body">
            In this section, we provide you with all your necessities such as clothes, electrical tools, furniture,
            and
            a lot of products
        </p>
        <div class="offers">
            <span class=" bg bg-cash"></span>
            <span class=" bg bg-e_cash"></span>
            <span class=" bg bg-crypto"></span>
            <span class=" bg bg-bank"></span>
            <span class=" bg bg-p2p"></span>
            <span class=" bg bg-telecom"></span>
        </div>
    </div>
</div>