<div class="container grid grid--1x2 operation-order">
    <div class="order-operation">
        <img class="order-operation__img" src="images/web-screen.png" alt="">
        <svg class="icon icon--larg order-operation__icon">
            <use href="images/icons.svg#motorcycle"></use>
        </svg>
    </div>
    <div class="order-operation__body">
        <header class="block__header order-operation__header">
            <h2 class="block__heading">
                Simple steps and we will send your order to your place
            </h2>
        </header>
        <p class="block__body">
            All you have to do is choose the order you want from our store, regardless of whether it is a
            service or
            an item
        </p>
        <div class="features">
            <div class="feature labeld-icon">
                <svg class="labeld-icon__icon">
                    <use href="images/icons.svg#all-in-one"></use>
                </svg>
                <span class="labeld-icon__label">All-In-One </span>
            </div>
        </div>
    </div>

</div>