<section class="block block--primary ">
    <div class="container grid grid--1x2">
        <header class="block__header">
            <h2 class="block__heading">With the Right Online APP, Great Things Can Happen!</h2>
        </header>
        <p class="block__body">
            Paloma team is working on research and development of a way to complete daily needs, we have a
            highly
            experienced team in all fields, and we are working for your convenience :)
        </p>
    </div>
</section>