<div class="container block">
    <header class="block__header">
        <h2 class="block__heading">What We Offer</h2>
    </header>
    <p class="block__body">
        In this section, we provide you with all your necessities such as clothes, electrical tools, furniture, and
        a lot of products
    </p>
    <div class="services">
        <figure class="service">
            <picture>
                <source type="image/webp" srcset="images/service-1.webp 1x" />
                <source type="image/png" srcset="images/service-1.png 1x" />
                <img class="service__image" src="images/service-1.png" alt="Mobile application browsing products"
                    aria-labelledby="service-title">
            </picture>
            <figcaption>
                <h3 class="service__title" id="service-title">Paloma Store
                </h3>
                <p class="service__content">In this section, we provide you with all your necessities such as
                    clothes,
                    electrical tools, furniture, and a lot of products</p>
            </figcaption>
        </figure>
        <figure class="service">
            <picture>
                <source type="image/webp" srcset="images/service-2.webp 1x" />
                <source type="image/png" srcset="images/service-2.png 1x" />
                <img class="service__image" src="images/service-2.png" alt="Mobile application browsing products"
                    aria-labelledby="service-title">
            </picture>
            <figcaption>
                <h3 class="service__title" id="service-title">Grocery</h3>
                <p class="service__content">Here we also provide you with all the groceries you need, vegetables,
                    oils, fruits, and everything that is available in groceries and daily needs, with fast delivery!
                </p>
            </figcaption>
        </figure>
        <figure class="service">
            <picture>
                <source type="image/webp" srcset="images/service-3.webp 1x" />
                <source type="image/png" srcset="images/service-3.png 1x" />
                <img class="service__image" src="images/service-3.png" alt="Mobile application browsing products"
                    aria-labelledby="service-title">
            </picture>
            <figcaption>
                <h3 class="service__title" id="service-title">Delivery</h3>
                <p class="service__content">You can deliver any of your items anywhere! Just write down the
                    specifications and dimensions
                </p>
            </figcaption>
        </figure>
        <figure class="service">
            <picture>
                <source type="image/webp" srcset="images/service-4.webp 1x" />
                <source type="image/png" srcset="images/service-4.png 1x" />
                <img class="service__image" src="images/service-4.png" alt="Mobile application browsing products"
                    aria-labelledby="service-title">
            </picture>
            <figcaption>
                <h3 class="service__title" id="service-title">Payment</h3>
                <p class="service__content">Pay your home and mobile bills from anywhere, no need to go and stop in
                    the queue!</p>
            </figcaption>
        </figure>
    </div>
</div>