<figure class="service">
    <picture>
        <!-- <source media="(min-width: 768px)" srcset="large-image.jpg"> -->
        <source type="image/png" srcset="images/service-1.png 1x" />
        <img class="service__image" src="images/service-1.png" alt="Mobile application browsing products"
            aria-labelledby="service-title">
    </picture>
    <figcaption>
        <h3 class="service__title" id="service-title">Paloma Store
        </h3>
        <p class="service__content">In this section, we provide you with all your necessities such as clothes,
            electrical tools, furniture, and a lot of products</p>
    </figcaption>
</figure>