<blockquote class="testimonial">
    <div class="testimonial__frame">
        <img src="images/web-frame.svg" alt="">
        <p class="testimonial__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora
            amet sequi excepturi pariatur! Maxime natus dolorum officia quidem ipsa.</p>
        <p class="testimonial__author">Salma albni </p>
        <div class="testimonial__decoration">
            <svg>
                <use href="images/icons.svg#plant-1"></use>
            </svg>
        </div>
    </div>
</blockquote>
<blockquote class="testimonial">
    <div class="testimonial__frame">
        <img src="images/web-frame.svg" alt="">
        <p class="testimonial__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora
            amet sequi excepturi pariatur! Maxime natus dolorum officia quidem ipsa.</p>
        <p class="testimonial__author">Salma albni </p>
        <div class="testimonial__decoration">
            <svg>
                <use href="images/icons.svg#plant-2"></use>
            </svg>
        </div>
    </div>
</blockquote>
<blockquote class="testimonial">
    <div class="testimonial__frame">
        <img src="images/web-frame.svg" alt="">
        <p class="testimonial__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora
            amet sequi excepturi pariatur! Maxime natus dolorum officia quidem ipsa.</p>
        <p class="testimonial__author">Salma albni </p>
        <div class="testimonial__decoration">
            <svg>
                <use href="images/icons.svg#plant-3"></use>
            </svg>
        </div>
    </div>
</blockquote>